#titleName{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    &::after{
        content: '*';
        color: red;
        margin-left: 2px;
    }
}
nz-select{
    width: 548px;
    font-size: 16px !important;
}
::ng-deep .ant-select-selector{
    height: 36px !important;
    border-radius: 4px !important;
}
::ng-deep .ant-select-item-option-content{
    font-size: 16px !important;
}