.dropDown {
  border: 1px solid #CED4DA;
  border-radius: 4px;
  width: 548px;
  height: 36px;
  padding: 8px 400px 8px 10px;
  position: relative;
  color: #ABB5BE;

  i {
    position: absolute;
    right: 9px;
    top: 12px;
  }
}
