<span *ngIf="borderColor === 'none' && className !== 'app-employee-tag'" 
  class="{{className}}" 
  [style.color]='colorName'
  [style.backgroundColor]='backgroundColor'>
  {{name}}
</span>
<span *ngIf="borderColor!== 'none' && className !== 'app-employee-tag'" 
  class="{{className}}" 
  [style.color]='colorName'
  [style.border]="'solid 1px'" 
  [style.borderColor]='borderColor' 
  [style.backgroundColor]='backgroundColor'>
  {{name}}
</span>

<span *ngIf="className === 'app-employee-tag'" 
  class="{{className}}" 
  [style.border]="'solid 1px'"
  [style.borderColor]='borderColor'>
  <span [style.color]='colorName' [style.backgroundColor]='backgroundColor'>
    {{name}}
  </span>
  <span [style.color]='colorCode'>
    {{code}}
  </span>
</span>
