<div id="sidebar">
  <div id="sidebar-header">
    <div class="sidebar-header-content">
      <i class="{{iconHeader}}"></i>
      <p>{{titleHeader}}</p>
      <button><i nz-icon nzType="close" nzTheme="outline"></i></button>
    </div>
    <nz-divider></nz-divider>
  </div>
  <div id="sidebar-content">
    <ul nz-menu nzTheme="dark" nzMode="inline" *ngFor="let item of subTitle">
      <li class="title" nz-submenu nzTitle="{{item.title}}" nzIcon="{{item.icon}}">
        <ul *ngFor="let subMenuItem of item.submenu">
          <li nz-menu-item>{{subMenuItem.title}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="sidebar-footer">
    <nz-divider></nz-divider>
    <div class="sidebar-footer-content">
      <ul class="pr-menu">
        <li class="pr-menu-content">
          <div class="pr-title">
            <a>
              <i class="fa fa-th-large"></i>
              <span>Settings</span>
            </a>
          </div>
        </li>
        <li class="pr-menu-content">
          <div class="pr-title">
            <a>
              <i class="fa fa-th-large"></i>
              <span>Subscription</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <p></p>
</div>
