<div id="sidebar">
  <div id="sidebar-header">
    <div class="sidebar-header-content">
        <i class="{{iconHeader}}"></i>
        <p>{{titleHeader}}</p>
    </div>
    <hr />
  </div>
  <div id="sidebar-content">
    <ul class="pr-menu" *ngFor="let item of subTitle">
      <li class="pr-menu-content">
        <a (click)="showSubMenu(item)">
          <i class="{{item.icon}}"></i>
          <span>{{item.title}}</span>
        </a>
        <ul class="sub-menu" *ngIf="item.submenu.length > 0">
          <div *ngIf="expanded">
            <li class="sub-menu-content" *ngFor="let subMenuItem of item.submenu">
              <a routerLink="{{subMenuItem.path}}" routerLinkActive='active-submenu'> 
                {{subMenuItem.title}}
              </a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </div>
  <div id="sidebar-footer">
    <hr />
    <div class="sidebar-footer-content">
      <ul class="pr-menu">
        <li class="pr-menu-content">
          <a>
            <i class="fa fa-cog"></i>
            <span style="font-weight: 400;">Settings</span>
          </a>
        </li>
        <li class="pr-menu-content">
            <a>
              <i class="fa fa-cog"></i>
              <span style="font-weight: 400;">Subscription</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
